{{define "footer"}}
</main>
<footer>
    <hr />
    <small>&copy; Patrick Gingras 2018</small>
    <small><a href="https://github.com/ging0044">github</a> | <a href="#">contact</a> | <a href="https://github.com/ging0044/cryptkeeper/issues" target="_blank">issues</a></small>
</footer>
</body>
</html>
{{end}}