{{define "login"}}
{{template "header"}}

<div class="flex four">
    <div class="full half-600 off-fourth-600">
        <h1>login</h1>
    </div>
    <div class="full half-600 off-fourth-600">
        <input type="email" class="stack" placeholder="email" required />
        <input type="password" class="stack" placeholder="password" required />
        <button type="submit" class="stack">log in</button>
    </div>
</div>

{{template "footer"}}
{{end}}